body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  padding: 20px 40px;
  background-color: rgb(201, 207, 207);
  color: black;
  margin-bottom: 30px;
}

.movielist {
  margin: 20px;
  padding: 20px 40px;
  border: 1px solid;
}

.search {
  margin-left: 20px;
  height: 20px;
}